
<form autocomplete="off"
#recoverPasswordForm="ngForm"
(ngSubmit)="save()"
[busy]="saving">
<abp-modal-header
    [title]="'RecoverPassword' | localize"
    (onCloseClick)="close()"
  ></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-md-9">
                <input matInput
                        name="userNameOrEmailAddress"
                        [(ngModel)]="userNameOrEmailAddress"
                        [placeholder]="'UserNameOrEmail' | localize"
                        autocomplete="off"
                        required
                        maxlength="255" />
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <div mat-dialog-actions class="m-b-15">
            <button mat-button
                    type="button"
                    [disabled]="saving"
                    (click)="close()">{{ "Cancel" | localize }}</button>
            <button mat-flat-button
                    type="submit"
                    flex="15"
                    color="primary"
                    [disabled]="!recoverPasswordForm.form.valid || saving">{{ "SendEmail" | localize }}</button>
        </div>
    </div>
</form>